.holder-container {
    width: auto;
    height: auto;
    border: 1px solid gray;
    display: flex;
    margin: 5px;
    justify-content: flex-end;
    overflow: hidden;
}

.holder-header {
    align-items: flex-end;
    width: 15px;
    height: 15px;
    margin-right: 15px
}

.holder-items {

}